
  <h3 class="title-accordion mt-3"><a href="#">{{ rasgo.nombre }}</a></h3>

  <div class="title-accordion-box">
    <ul>
      <li><strong>Descripción</strong>: {{ rasgo.descripcion }}</li>
    </ul>
  </div>