{% extends 'base.html.twig' %}
{% block title %}Personaje{% endblock %}
{% block body %}

    <div class="wrapper container" id="scrollspyHeading1">

        <div class="row align-items-center">
            <div class="col">

                <nav class="navbar navbar-default bg-success p-2 text-white bg-opacity-75">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">About us</a></li>
                        <li><a href="/">Services</a></li>
                        <li><a href="/">Partners</a></li>
                        <li><a href="/">Customers</a></li>
                        <li><a href="/">Projects</a></li>
                        <li><a href="/">Careers</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </nav>

            </div>
        </div>


        <div class="grid">
            <div class="col">

                <div class="grid">
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75"></div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Destreza</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Constitucion</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Inteligencia</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Sabiduria</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Carisma</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Bono de competencia</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Velocidad</div>
                    <div class="g-col-4 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Vida</div>
                </div>
                
            </div>
            
            <div class="col">
                <div class="grid">
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Fuerza</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Destreza</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Constitucion</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Inteligencia</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Sabiduria</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Carisma</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Bono de competencia</div>
                    <div class="g-col-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Velocidad</div>
                    <div class="g-col-4 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">Vida</div>
                </div>
            </div>
            
        </div>
        



        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tema de Login - Accordion Item #1
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Login</strong> Lo que se podria hacer es que una vez te logges la pagina te llevará a la pantalla de tus personajes, en caso de no tener ninguno te aparecera una pantalla en la que te pondrá que no tienes ninguno que si quieres crearte uno lo que te mandará directamente al creador de personajes.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Tema inicio - Accordion Item #2
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Inicio</strong> Hay que hacer algo atractivo con imagenes de por medio y una presentacion sobre que es lo que hace la pagina web aunque realmente aqui ns que habrá pero seria royo portfolio un imagen grande algo de texto pequeño y esto tres veces luego ya seria un footer y si eso ya de cara a un futuro seria añadir mas pestañas y si eso se podria hacer algún tipo de blog pero como menciono anteriormente esto seria muy a futuro y no entraria como parte del proyecto
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Shiroe - Accordion Item #3
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Panel de control</strong> La idea es que los jugadores tengan acceso a un apartado reducido de el status de cada miembro de su party con cosas como pueden ser la vida o cuantos consumibles les quedan a cada uno ya sean conjuros o cosas asi exactamente
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>










        <!--Boton toast para los dados-->

        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>


        <div class="fixed-bottom">
            <a class="nav-link" href="#scrollspyHeading1">First</a>
            <button type="button" class="btn btn-primary rounded-circle bg-success p-2 text-white bg-opacity-75">Show live toast</button>
        </div>

    </div>

{% endblock %}
