{% extends "base.html.twig" %}
{% block title %}Inicio{% endblock %}
{% block stylesheets %}
    <!-- Favicons -->
    <link href="/assetsGp/img/ico/dragon2.ico" rel="icon">
    <link href="/assetsGp/img/ico/dragon2.ico" rel="apple-touch-icon">
{% endblock %}
{% block javascripts %}
    <script src="/assetsGp/js/typewriter.js"></script>
{% endblock %}
{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-6 col-lg-8">
            <h1 id="hero_Id"></h1>
            <h2>Un pequeño lugar donde podremos guardar nuestros personajes para consultarlos posteriormente</h2>
          </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="#">Tienda (off-line)</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/personaje">Personaje</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="/personaje/lista">Reunión de personajes</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="/personaje/nuevo">Empezar a crear</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-image-2-line"></i>
            <h3><a href="/galeria">Galería</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/assetsGp/img/sirenaEvee.png" class="img-fluid" alt="imagen about section">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Compendio Gremial de Adarak.</h3>
            <p class="fst-italic">
              Esta pagina web esta orientada en la creacción de los personajes para juegos de rol en pricipio para jugar Dungeons and Dragons (D&amp;D)
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Puedes crear tus propios personajes.</li>
              <li><i class="ri-check-double-line"></i> Puedes consultar tanto tus personajes com los de otros usuarios.</li>
              <li><i class="ri-check-double-line"></i> Puedes subir imagenes a la galería donde serán compartidas con todos los usuarios y asi que todos podamos ver los fanarts y cualquier tipo de arte que nuestros usuarios quieran mostrarnos.</li>
            </ul>
            <p>
              Desde el fantástico mundo de Adarak, los másters del gremio de abrimos las puertas de nuestras filas para que te unas a nosotros y explores lugares maravillosos con tu equipo. Aceptamos de todo, desde el Pícaro Edgy hasta el tipo de la sotana que grita cosas sagradas con su mandoble. El requisito es que tengas ganas de explorar. Regístrate, trae a tu equipo y empezad la aventura, nosotros os esperamos aquí.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-1.png" class="img-fluid" alt="slider 1"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-2.png" class="img-fluid" alt="slider 2"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-3.png" class="img-fluid" alt="slider 3"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-4.png" class="img-fluid" alt="slider 4"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-5.png" class="img-fluid" alt="slider 5"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-6.png" class="img-fluid" alt="slider 6"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-7.png" class="img-fluid" alt="slider 7"></div>
            <div class="swiper-slide"><img src="/assetsGp/img/clients/client-8.png" class="img-fluid" alt="slider 8"></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("/assetsGp/img/humanoFeliz.jpg"); padding-bottom: 550px;' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Tienda</h4>
              <p>En la tienda podrás comprar tanto habilidades como objetos tanto mundanos como magicos</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Personaje</h4>
              <p>En esta sección podras buscar los personajes que quieras tanto tuyos como de otros usuarios y abrir su ficha para ver sus habilidades y caractyeristicas</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Reunión de personajes</h4>
              <p>En la reunion de personajes te encontraras todos los personajes de todos los usuarios reunidos en el gremio de Adarak</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Empezar a crear</h4>
              <p>Cuando le demos a empezar a crear, podremos crear nuestro propio personaje que estará a disposicion de todos los usuarios</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Personajes</h2>
          <p>Algunos de nuestros personajes</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="/personaje/ficha/1">Galathar</a></h4>
              <p>Es una de las maestras gremiales, Galathar se dedica a viajar por todo el multiverso y tener buenas relaciones con este para que no ataquen nuestro plano</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="/personaje/ficha/1">Randy</a></h4>
              <p>Otro de nuestros maestros gremiales este se dedica a la administracion y cualquier tipo de papeleo del gremio</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="/personaje/ficha/1">Heie</a></h4>
              <p>Se dedica a proporcionarnos materiales y hacer algunas pociones en general llenar nuestros suministros</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="/personaje/ficha/1">Eva Shadar-kai</a></h4>
              <p>Otra de nuestras maestras gremiales esta se encarga de la red de contactos dentro de nuestro plano</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="/personaje/ficha/1">Sulyban</a></h4>
              <p>Es nuestro consejero de guerra aunque muchas veces no sabemos si esta mas a favor de la paz o de la guerra</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="/personaje/ficha/1">Fera</a></h4>
              <p>Fera es una armera de renombre tanto dentro como fuera del gremio</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Te llamamos a la accion</h3>
          <p> Unente a nuestras fuerzas uniendote a nuestro servidor de discord para estar al corriente de todos los movimeintos de nuestro gremio en Adarak.</p>
          <a class="cta-btn" href="#">Unirse a Discord</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Estadisticas</h3>
              <p> Estas son las estadisticas que nos distinguen frente a nuestra competencia.</p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Usuarios registrados</strong> Cantidad de usuarios satisfechos con nuestra pagina web.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Personajes creados</strong> Los persaonajes creados con nuestra pagina web.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Tiempo de experiencia</strong> El tiempo que llevamos producioendo contendio con estas caracteristicas.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Logros</strong> Cantidad de reconocimientos por parte de gente importante en este sector.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assetsGp/img/himo.jpg" class="testimonial-img" alt="imagen usuario 1">
                <h3>Himo</h3>
                <h4>Personaje</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assetsGp/img/Armin_color.png" class="testimonial-img" alt="imagen usuario 2">
                <h3>Armin</h3>
                <h4>Personaje</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assetsGp/img/quimeraDiosito.png" class="testimonial-img" alt="imagen usuario 3">
                <h3>Alex</h3>
                <h4>Ilustrador y DM</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assetsGp/img/Alucard.jpg" class="testimonial-img" alt="imagen usuario 4">
                <h3>Héctor caño</h3>
                <h4>Ilustrador gráfico</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assetsGp/img/Carlos.jpg" class="testimonial-img" alt="imagen usuario 5">
                <h3>Randy Wells</h3>
                <h4>Colaborador</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Equipo</h2>
          <p>Revisa nuestro equipo</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assetsGp/img/team/Salix.jpg" class="img-fluid" alt="imagen admin1">
                <div class="social">
                  <a href="https://twitter.com/home"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Saúl Pacheco</h4>
                <span>Director ejecutivo</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assetsGp/img/team/Carlos2.jpg" class="img-fluid" alt="imagen admin2">
                <div class="social">
                  <a href="https://twitter.com/home"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Carlos Alonso</h4>
                <span>Ilustrador gráfico</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/assetsGp/img/team/esqueleta2.jpg" class="img-fluid" alt="imagen admin3">
                <div class="social">
                  <a href="https://twitter.com/home"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ivana</h4>
                <span>Ilustradora gráfica</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assetsGp/img/team/Marta.png" class="img-fluid" alt="imagen admin4">
                <div class="social">
                  <a href="https://twitter.com/home"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Marta Vidal</h4>
                <span>Consejera cromática</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->


{% endblock %}
