{% extends "base.html.twig" %}
{% block title %}Personajes{% endblock %}

{% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
{% endblock %}
        
{% block body %}
    <h1>Personajes</h1>
    <h2>Bienvenido a la web de personajes.</h2>
    <p>Página de inicio</p>
{% endblock %}