{% extends "base.html.twig" %}
{% block title %}Personajes{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/assetsGp/css/bgPyke.css') }}" rel="stylesheet" />

    <!-- Favicons -->
    <link href="/assetsGp/img/ico/mascara2.ico" rel="icon">
    <link href="/assetsGp/img/ico/mascara2.ico" rel="apple-touch-icon">
{% endblock %}
{% block javascripts %}
    <script src="/assetsGp/js/accordion.js"></script>
{% endblock %}
{% block body %}   


    <h1 id="after-header">Listado de personajes</h1>


    {% if personajes %}

        <div id="notaccordion">
        {% for personaje in personajes %}
            
            {{ include ("partials/datos_personaje.html.twig", {"personaje": personaje}) }}
            
        {% endfor %}
        </div>

    {% else %}
        <p>No se ha encontrado ningun personaje que contenga {{ texto }}</p>
    {% endif %}

{% endblock %}