{% extends "base.html.twig" %}
{% block title %}Personajes{% endblock %}
{% block javascripts %}
    <script src="/assetsGp/js/accordion.js"></script>
{% endblock %}
{% block body %}
    {{ include('/partials/inicio-doc.part.html.twig') }}
    <h1>Listado de personajes</h1>


    {% if personajes %}

        <div id="notaccordion">
        {% for personaje in personajes %}
            
            {{ include ("partials/datos_personaje.html.twig", {"personaje": personaje}) }}
            
        {% endfor %}
        </div>

    {% else %}
        <p>No se ha encontrado ningun personaje que contenga {{ texto }}</p>
    {% endif %}
    
    {{ include('/partials/fin-doc.part.html.twig') }}
{% endblock %}