{% extends "base.html.twig" %}
{% block title %}Personajes{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/assetsGp/css/bgPyke.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assetsGp/css/accordion.css') }}" rel="stylesheet" />

    <!-- Favicons -->
    <link href="/assetsGp/img/ico/mascara2.ico" rel="icon">
    <link href="/assetsGp/img/ico/mascara2.ico" rel="apple-touch-icon">
{% endblock %}
{% block javascripts %}
    <script src="/assetsGp/js/accordion.js"></script>
{% endblock %}
{% block body %}   


<!-- ======= Accordion Section ======= -->
    <section class="about">
      <div class="container" data-aos="fade-up">

        <div class="row" id="after-header">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content bg-light bg-opacity-50 p-3 rounded personaje-box" data-aos="fade-right" data-aos-delay="100">
            <h1 class="mb-4"><strong>Listado de personajes</strong></h1>
            
            {% if personajes %}

                <div id="notaccordion">
                {% for personaje in personajes %}
                    
                    {{ include ("partials/datos_personaje.html.twig", {"personaje": personaje}) }}
                    
                {% endfor %}
                </div>

            {% else %}
                <p>No se ha encontrado ningun personaje</p>
            {% endif %}

          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/assetsGp/img/Monje.jpg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End Accordion Section -->


{% endblock %}